@model XceedTask.Core.PermissionsData.PermissionsFormViewModel

@{
    var lang = HttpContextAccessor.HttpContext?.Request.Cookies["lang"] ?? "En";
    ViewData["Title"] = (lang == "En" ? "Edit Permissions for this Role" : "تعديل الصلاحيات لهذا الدور");
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-xl-8">
        <div class="card m-b-20">
            <div class="card-header">
                <h3 class="card-title">
                    @(lang == "En" ? "Edit Permissions for this Role" : "تعديل الصلاحيات لهذا الدور")
                </h3>
                <h3 class="card-title">
                    @Model.RoleName
                </h3>
            </div>
            <div class="card-body mb-0">
                <form class="form-horizontal" asp-action="ManagePermissions" enctype="multipart/form-data" runat="server">
                    <div asp-validation-summary="All" style="margin-bottom: 2rem; text-align: center;" class="text-danger"></div>

                    <input type="hidden" asp-for="@Model.RoleId" />
                    <input type="hidden" asp-for="@Model.RoleName" />

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <button type="button" id="selectAll" class="btn btn-info waves-effect waves-light">Select All</button>
                                    <button type="button" id="deselectAll" class="btn btn-danger waves-effect waves-light">Deselect All</button>
                                </th>
                                <th>@(lang == "En" ? "Number" : "الرقم") </th>
                                <th>@(lang == "En" ? "Model Name" : "اسم المودل") </th>
                                <th> @(lang == "En" ? "Permission Name" : "اسم الصلاحية")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.CheckBoxes.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model.CheckBoxes[i].Name" />
                                            <input asp-for="@Model.CheckBoxes[i].IsChecked" class="form-check-input" />

                                        </div>
                                    </td>
                                    <td>@i</td>
                                    <td>@Model.CheckBoxes[i].Name.Split('.')[1]</td>
                                    <td>@Model.CheckBoxes[i].Name.Split('.')[2]</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                    <div class="form-group mb-0 row justify-content-end" style="margin-top: 2rem;">
                        <div class="col-md-9" style="display: flex;justify-content: space-between;">
                            <input type="submit" value="@((lang == "En" ? "Edit" : "تعديل"))" class="btn btn-primary waves-effect waves-light">
                            <a asp-action="Index" class="btn btn-secondary">@((lang == "En" ? "Back to List" : "العودة للقائمة"))</a>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("DashboardPartials/_ValidationScriptsPartial");
    }
    <script>
        document.getElementById("selectAll").addEventListener("click", function () {
            toggleCheckboxes(true);
        });

        document.getElementById("deselectAll").addEventListener("click", function () {
            toggleCheckboxes(false);
        });

        function toggleCheckboxes(checked) {
            var checkboxes = document.querySelectorAll("input[type='checkbox']");
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = checked;
            });
        }
    </script>



}

