@model ProductViewModel

@{
    var lang = HttpContextAccessor.HttpContext?.Request.Cookies["lang"] ?? "En";
    ViewData["Title"] = lang == "En" ? "Product Details" : "تفاصيل المنتج";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="container-fluid">
    <div class="card">
        <div class="row product-page-main card-body">
            <div class="col-xl-4">
                <div class="" id="sync1">
                   
                        <div class="item">
                            <img src="@Url.Content(Model.ImgUrl)" alt=""
                                 class="blur-up lazyloaded">
                        </div>
                    


                </div>
                <div class="owl-carousel owl-theme" id="sync2">

                    
                        <div class="item">
                        <img src="@Url.Content(Model.ImgUrl)" alt=""
                                 class="blur-up lazyloaded">
                        </div>
                    


                </div>
            </div>
            <div class="col-xl-8">
                <div class="product-page-details product-right mb-0">

                    <dl class="row">

                       

                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.Name
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.CategoryName
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.Price
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.CreatedByFullName)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.CreatedByFullName
                        </dd>
                  
                   
                    </dl>

                   
                    <hr>

                    <h2 class="product-title">@(lang == "En" ? "Product Display" : "تفاصيل العرض")</h2>
                    <dl class="row">

                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.CreatedAt
                        </dd>

                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.StartDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.StartDate
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.Duration)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.Duration
                        </dd>
                  
                   
                    </dl>
                   

             


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
   

}