@model UpdateProfileAdminViewModel

@{

    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var error = TempData["Error"];
    var success = TempData["Success"];
    var lang = HttpContextAccessor.HttpContext?.Request.Cookies["lang"] ?? "En";
    ViewData["Title"] = (lang == "En") ? "Edit Admin Profile" : "تعديل بيانات المسؤول";
}

@section Styles {
    @{
        <link rel="stylesheet" type="text/css" href="~/custom/UplodeFile/Style.css" />
    }

}

<div class="row">
    <div class="col-xl-8">
        <div class="card m-b-20">
            <div class="card-header">
                <h3 class="card-title">@((lang == "En") ? "Edit Admin Profile" : "تعديل بيانات المسؤول")</h3>
                @if (error != null)
                {
                    <div style="text-align: center;" class="alert alert-danger" role="alert">
                        @error
                    </div>
                }
                @if (success != null)
                {
                    <div style="text-align: center;" class="alert alert-success" role="alert">
                        @success
                    </div>
                }

            </div>
            <div class="card-body mb-0">
                <form class="form-horizontal" asp-action="Edit" enctype="multipart/form-data" runat="server">
                    <div asp-validation-summary="All" style="margin-bottom: 2rem; text-align: center;" class="text-danger"></div>

                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="ImgUrl" />



                    <div>
                        <div class="profile-pic-wrapper">
                            <div class="pic-holder">
                                <!-- uploaded pic shown here -->
                                <img id="profilePic" class="pic" src="@Model.ImgUrl">

                                <Input class="uploadProfileInput" type="file" asp-for="Img" id="newProfilePhoto" accept="image/*" style="opacity: 0;" />
                                <label for="newProfilePhoto" class="upload-file-block">
                                    <div class="text-center">
                                        <div class="mb-2">
                                            <i class="fa fa-camera fa-2x"></i>
                                        </div>
                                        <div class="text-uppercase">
                                            Update <br /> Profile Photo
                                        </div>
                                    </div>
                                </label>
                            </div>


                        </div>
                    </div>

                    <Input class="" type="file" asp-for="Img" id="" accept="image/*" style="opacity: 0;" />



                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label" asp-for="FullName">@((lang == "En" ? "Full Name" : "الاسم بالكامل"))</label>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="FullName" class="form-control" id="examplenameInputname3" placeholder="@((lang == "En" ? "Full Name" : "الاسم بالكامل"))">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label" asp-for="PhoneNumber">@((lang == "En" ? "Phone Number" : "رقم الهاتف"))</label>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="PhoneNumber" class="form-control" id="examplenameI3" placeholder="@(lang == "En" ? "Phone Number" : "رقم الهاتف")">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label" asp-for="Email">@((lang == "En" ? "Email" : "البريد الالكتروني"))</label>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="Email" class="form-control" id="exampl" placeholder="@(lang == "En" ? "Email" : "الأميل")">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group ">
                    </div>
                    <div class="form-group mb-0 row justify-content-end" style="margin-top: 2rem;">
                        <div class="col-md-9" style="display: flex;justify-content: space-between;">
                            <input type="submit" value="@((lang == "En") ? "Edit" : "تعديل") " class="btn btn-primary waves-effect waves-light">
                            <a asp-action="Index" class="btn btn-secondary">@((lang == "En" ? "Back to List" : "العودة للقائمة"))</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts {

    <script src="~/custom/UplodeFile/Script.js"></script>

    @{
        await Html.RenderPartialAsync("DashboardPartials/_ValidationScriptsPartial");
    }



}

